.app_dark_theme {
    --bg-color: #01579B;
    --inverted-bg-color: #78909C;
    --primary-color: #E0E0E0;
    --secondary-color: #4DB6AC;
    --inverted-primary-color: #0D47A1;
    --inverted-secondary-color: #01579B;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
}
