.app_dark_theme {
    --bg-color: #01579b;
    --inverted-bg-color: #78909c;
    --primary-color: #e0e0e0;
    --secondary-color: #4db6ac;
    --inverted-primary-color: #0d47a1;
    --inverted-secondary-color: #01579b;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
}
