:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #1565C0;
    --primary-color: #424242;
    --secondary-color: #0449e0;
    --inverted-primary-color: #5D4037;
    --inverted-secondary-color: #049604;
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
