.ItemsPage {
    background-color: var(--bg-color);
}

.addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: coral;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr 2fr 2fr 1fr;
    border-radius: 10px;
    gap: 10px;
}

.item {
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

//.listItem {
//    background-color: coral;
//    display: flex;
//    align-items: center;
//    justify-content: flex-start;
//    gap: 1rem;
//    border-radius: 10px;
//}
//.btnGroup {
//    display: inline-flex;
//    align-items: center;
//}
//
//.listItemDate {
//    display: inline-flex;
//    justify-content: flex-end;
//}
//
//.listItemCounter{
//    flex: 2 1 0;
//}

//    .btnGroup {
//        flex: 0 1 auto;
//        min-width: 0;
//        margin-top: 4px;
//        margin-bottom: 4px;
//        height: 2rem;
//    }
//}
//
//.listItemText {
//    display: flex;
//    align-items: center;
//    justify-content: left;
//    padding-left: 10px;
//}
//
//.txtFld {
//    font-weight: 800;
//    font-size: 1rem;
//    line-height: 3rem;
//    letter-spacing: 0.0094em;
//    color: #f00;
//    box-sizing: border-box;
//    height: 1rem;
//}
