.Counter {
  //position: relative;
    .btnGroup {
        flex: 0 1 auto;
        min-width: 0;
        margin-top: 4px;
        margin-bottom: 4px;
        height: 2rem;
        margin-right: 3rem;
        color: var(--inverted-primary-color);
    }
  .btnPlacerHolder{
      width: 3rem;
  }
}


//.Counter {
//    .btnGroup {
//        display: flex;
//        align-items: center;
//        justify-content: space-between;
//        flex: 1; /* Занимает всё доступное пространство контейнера */
//        min-width: 0;
//        margin-top: 4px;
//        margin-bottom: 4px;
//        height: 2rem;
//        color: var(--inverted-primary-color);
//    }
//
//    .btnGroupActive {
//        flex-grow: 1; /* Кнопки равномерно распределяются по всей ширине контейнера */
//    }
//
//    .btnGroupDisplay {
//        flex-grow: 3; /* Кнопка по середине имеет ширину в 3 раза больше */
//    }
//}
