.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 10px;
    max-width: 65%;
    margin: 0 auto;
}

.input {
    margin-top: 10px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
